<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
    <remove key="RGB.NET package source" />
    <add key="RGB.NET package source" value="NuGet" />
  </packageSources>

  <activePackageSource>
    <add key="All" value="(Aggregate source)"  />
  </activePackageSource>

</configuration>
