name: PR-Verify

on:
  pull_request:
    branches: [ master, Development ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
          8.0.x
          7.0.x
          6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release /p:Version=0.0.0
    - name: Test
      run: dotnet test --no-build --verbosity normal --configuration Release
      
